
body{
  background: #fafafa;
  height: 100vh;
}
.header{
  top: 0;
  min-height: 2em;
  background: #ffffff;
  height: auto;
}
.welcomeform{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: #665c76;
}
.welcomeform >p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcomename{
  font-size: 100px ;
}
.welcometext{
  font-size: 80px ;
}

.section{

  display: flex;
  justify-content: center;
  align-items: center;
}
.enter-form{
  background: #ffffff;
  border:1px solid #c7c8ca;
  margin: 20px 0px 50px 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}



